---
import { HERO_IMG_PATH } from "../../config";
import Icon from "../Icon.astro";
import Wrapper from "../Wrapper.astro";

interface Props {
    heading : string,
    subheading : string,
    primaryCTAText : string,
    primaryCTAIcon? : string,
    primaryCTALink : string,
    secondaryCTAText : string,
    secondaryCTALink : string,
    secondaryCTAIcon? : string,
    align? : 'center' | 'left' | 'right'
    
    /**
     * @prop heading (string)
     * @prop subheading (string)
     * @prop primaryCTAText (string)
     * @prop primaryCTAIcon (string)
     * @prop primaryCTALink (string)
     * @prop secondaryCTAText (string)
     * @prop secondaryCTALink (string)
     * @prop secondaryCTAIcon (string)
     * @prop align : 'center' | 'left' (Default) | 'right'
     */
    props? : true
}

const {
    heading,
    subheading,
    primaryCTAText,
    primaryCTALink,
    primaryCTAIcon,
    secondaryCTAText,
    secondaryCTALink,
    secondaryCTAIcon,
    align = 'left'
} = Astro.props

---



<section id="hero" class="relative bg-primary-200 bg-[]">

    <div class="absolute left-[-0%] lg:left-[10%] top-[10%] z-10 w-64 h-64 bg-secondary-300 bg-opacity-30 blur-3xl "></div>
    <div class="hidden md:block absolute right-[-0%] lg:right-[5%] bottom-[10%] z-10 w-64 h-64 bg-primary-400 blur-3xl "></div>
    
    <Wrapper 
        width="max" 
        padding="inline"
        class={`
            hero-wrapper grid overflow-hidden relative py-10 md:py-32
            ${align === 'left' || align === 'right' ? 'items-center' : ''}
            ${align === 'center' ? 'place-items-center' : ''}
            ${align === 'right' ? ' justify-items-end' : ''}
        `}
    >
    
        <div class="order-2 md:-order-none md:absolute md:top-0 md:bottom-0 md:right-0 md:z-10 md:w-3/4 overflow-hidden bg-primary-200 bg-opacity-25">
            <img src={HERO_IMG_PATH} class="hidden md:block absolute inset-0 z-20 w-full object-cover object-bottom mix-blend-overlay" />
            <div class="hidden md:block absolute inset-0 z-30 bg-gradient-to-r from-primary-200 to-transparent"></div>
        </div>
        

        <div class={`[]
            grid gap-8 md:w-2/3 relative z-30 order-1 md:order-none
            ${align === 'left' ? '' : ''}
            ${align === 'center' ? 'text-center' : ''}
        `}>

            <h1>
                {heading}
            </h1>

            <p class="max-w-[25ch] font-semibold">
                {subheading}
            </p>

            <div class={`
                flex items-center gap-4
                ${align === 'center' ? 'justify-center' : ''}
            `}>
                
                <a href={primaryCTALink} class="primary-hero-CTA">
                    {primaryCTAIcon && <Icon icon={primaryCTAIcon} /> }
                    {primaryCTAText}
                </a>
                
                <a href={secondaryCTALink} class="secondary-hero-CTA">
                    {secondaryCTAIcon && <Icon icon={secondaryCTAIcon} /> }
                    {secondaryCTAText}
                </a>

            </div>

        </div>

    </Wrapper>

    <Wrapper class="pb-12 bg-primary-200 bg-opacity-10 md:hidden">
        <img src={HERO_IMG_PATH} class="block w-full object-cover mix-blend-overlay opacity-60" />
    </Wrapper>

</section>


<style>

h1 {
    max-width : 20ch;
    font-size: 2.5rem !important;
    line-height: 2.8rem;
    letter-spacing: 0.05rem;
    font-weight: 900 !important;
    color : var(--hero-text-color);
}

p {
    font-size : 1.3rem;
    color : var(--hero-text-color);
}

.primary-hero-CTA,
.secondary-hero-CTA {
    display : flex;
    align-items: center;
    gap : 0.75rem;
    padding : 0.75rem 1.25rem;
    font-weight : 600;
    letter-spacing: 0.05rem;
    border-radius: 0.75rem;
}

.primary-hero-CTA {
    border-bottom-right-radius: 0;
    background-color : var(--hero-CTA-bg-color);
    color : var(--hero-CTA-text-color);
}

.primary-hero-CTA:hover, .primary-hero-CTA:focus {
    background-color : var(--hero-CTA-bg-color-hover);
    color : var(--hero-CTA-text-color-hover);
}

.secondary-hero-CTA {
    border-bottom-left-radius: 0;
    border : 1px solid var(--hero-CTA-bg-color);
    color : var(--hero-CTA-bg-color);
}

.secondary-hero-CTA:hover, .secondary-hero-CTA:focus {
    background : hsla(var(--secondary-color) 50% / 0.1);
}

</style>


<script>

const h1 = document.querySelector('h1') as HTMLHeadingElement

if(h1.textContent) {
    h1.innerHTML = h1.textContent.replace('neurospicy', 'neuro<span class="text-secondary-500">spicy</span>')
}


</script>

