---
import { FAVICON_PATH, SITE_SHORT_NAME } from '../config';

interface Props {

    /** <title> tag */
    title : string,

    /** Meta Description */
    description : string,

    /**
     * @prop title (string)
     * @prop description (string)
     * @prop slot
     */
    props? : true
}

const {
    title,
    description
} = Astro.props


---

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={FAVICON_PATH} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta name="description" content={description}>

    <title>
        {`${title} - ${SITE_SHORT_NAME}`} 
    </title>

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://meganmriley.com/join/">
    <meta property="og:type" content="website">
    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>
    <meta property="og:image" content="/join/meta-img/og.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="meganmriley.com">
    <meta property="twitter:url" content="https://meganmriley.com/join/">
    <meta name="twitter:title" content={title}>
    <meta name="twitter:description" content={description}>
    <meta name="twitter:image" content="/join/meta-img/og.png">

    <slot />
</head>